.media-main a.pull-left {
    width: 100px; 
}

.p-t-10 {
    padding-top: 10px !important;
}

.thumb-lg {
    height: 84px;
    width: 84px;
}

.media-main .info h4 {
    overflow: hidden;
    margin-bottom: 5px;
}

.social-links li a {
    background: #EFF0F4;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
        -webkit-box-radius: 50%;
    color: #7A7676;
}

.round_img {
    border-radius: 50%;
}

.fa-facebook, .fa-facebook-square {
    color: #3b5998;
}
.fa-linkedin, .fa-linkedin-square { 
    color: #007bb6;
}
.fa-github, .fa-github-square { 
    color: #171515;
}
.fa-twitter, .fa-twitter-square { 
    color: #00aced
}
.fa-youtube, .fa-youtube-square, .fa-youtube-square { 
    color: #bb0000;
}
.fa-instagram { 
    color: #517fa4;
}
.fa-envelope {
    color:#000000;
}